<!-- Carousel: a widget where items will loop infinitely with the help of JS (optionally with a pagination and controls) -->
<div class="b-carousel">
	<ol class="list">
		
		{{#each items}}
		<li class="item {{#if is-active}}is-active{{/if}}">
			<!-- content, e.g. teaser, image etc. -->
		</li>
		{{/each}}
		
	</ol>
	
	<!-- optional: Table of Contents widget -->
	{{#if toc}}
	{{partial 'toc' toc.carousel}}
	{{/if}}
	
	<!-- optional: Controls widget -->
	{{#if controls}}
	{{partial 'controls' controls.carousel}}
	{{/if}}
</div>
