<!-- Controls, e.g. to go to the previous/next slide in a carousel or teaser-switcher widget (optionally with a play/pause button) -->
<div class="b-controls">
	<button class="prev">{{prev-title}}</button>
	<button class="next">{{next-title}}</button>
	
	{{#if play-pause}}
	<button class="play-pause {{#if is-playing}}is-playing{{/if}} {{#if is-paused}}is-paused{{/if}}">{{play-pause.title}}</button>
	{{/if}}
</div>
