<!-- Tabs: a widget where you can navigate content through tabs with the help of JS -->
<div class="b-tabs">
	<ol class="tablist" role="tablist">
		
		{{#each tabs}}
		<li class="tab">{{tab-title}}</li>
		{{/each}}
		
	</ol>
	
	<div class="tabcontent">
		
		{{#each panels}}
		<div class="panel">
			<!-- panel-content -->
		</div>
		{{/each}}
		
	</div>
</div>
