<!-- Table of Contents (TOC): a widget where you navigate through items with the help of JS, e.g. like dots at the bottom of a carousel -->
<ol class="b-toc">
	
	{{#each pages}}
	<li class="item">
		<button class="{{#if is-active}}is-active{{/if}}">
			{{button-title}}
		</button>
	</li>
	{{/each}}
	
</ol>
