<nav class="b-breadcrumb" role="navigation">
	<h2>You are here:</h2>
	
	<ol class="navlist">
		
		{{#each items}}
		<li class="item">
			<a href="{{link-href}}">
				{{link-title}}
			</a>
		</li>
		{{/each}}
		
	</ol>
</nav>
